In [ ]:
# Class 12

There are 2 stages where error may happen in a program

- During compilation -> Syntax Error
- During execution -> Exceptions

### Syntax Error

- Something in the program is not written according to the program grammar.
- Error is raised by the interpreter/compiler
- You can solve it by rectifying the program

In [3]:
# Examples of syntax error
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (528539990.py, line 2)

### Other examples of syntax error

- Leaving symbols like colon,brackets
- Misspelling a keyword
- Incorrect indentation
- empty if/else/loops/class/functions

In [ ]:
a = 5
if a==3
  print('hello')

SyntaxError: ignored

In [4]:
a = 5
iff a==3:
  print('hello')

SyntaxError: invalid syntax (521424995.py, line 2)

In [7]:
a = 5
if a==3:
print('hello')

IndentationError: expected an indented block after 'if' statement on line 2 (3610895221.py, line 3)

In [ ]:
# IndexError
# The IndexError is thrown when trying to access an item at an invalid index.
L = [1,2,3]
L[100]

IndexError: ignored

In [ ]:
# ModuleNotFoundError
# The ModuleNotFoundError is thrown when a module could not be found.
import mathi
math.floor(5.3)

ModuleNotFoundError: ignored

In [ ]:
# KeyError
# The KeyError is thrown when a key is not found

d = {'name':'nitish'}
d['age']

KeyError: ignored

In [ ]:
# TypeError
# The TypeError is thrown when an operation or function is applied to an object of an inappropriate type.
1 + 'a'

TypeError: ignored

In [9]:
# ValueError
# The ValueError is thrown when a function's argument is of an inappropriate type.
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
# NameError
# The NameError is thrown when an object could not be found.
print(k)

NameError: ignored

In [ ]:
# AttributeError
L = [1,2,3]
L.upper()

# Stacktrace

AttributeError: ignored

### Exceptions

If things go wrong during the execution of the program(runtime). It generally happens when something unforeseen has happened.

- Exceptions are raised by python runtime
- You have to takle is on the fly

#### **Examples**

- Memory overflow
- Divide by 0 -> logical error
- Database error

In [ ]:
# Why is it important to handle exceptions
# how to handle exceptions
# -> Try except block

In [11]:
def divide(a,b):
    return a/b

divide(6,2)
divide(6,3)

2.0

In [12]:
divide(6,0)

ZeroDivisionError: division by zero

In [13]:
divide(6,'3')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [14]:
divide('3', '3')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [33]:
def divide(a,b):
   try:
      result = a/b
      return result
  
#   except: 
   except Exception:
       print('We are facing some exceptions but do not know which one.')
      

divide(4,0)

We are facing some exceptions but do not know which one.

In [34]:
def divide(a,b):
   try:
      result = a/b
      return result
   except ZeroDivisionError:
      return "Please don't enter zero."
   except TypeError:
      return 'Please input only integers and floating numbers.'
      

divide(4,0)

"Please don't enter zero."

In [31]:
print(divide(6,0))
print(divide(6,'3'))

Please don't enter zero.
Please input only integers and floating numbers.

In [27]:
divide(3,'3')

Please input only integers and floating numbers.

In [28]:
divide(3,0)

Please don't enter zero.

In [29]:
print(print('helllo'))

helllo
None

In [72]:
def divide(a, b):
    try:
        result = a / b
      #   return result
    except ZeroDivisionError:
        return "Please don't enter zero."
    except TypeError:
        return 'Please input only integers and floating numbers.'
    else:
        print(f'''Result: {result}
Try Block successfully run 
     ''')
        
    finally:
        return 'Me to chalunga, kisi ka bap nai rok sakta'
    
    
divide(3,0)

'Me to chalunga, kisi ka bap nai rok sakta'

In [65]:
def divide(a, b):
    try:
        result = a / b
      #   return result
    except ZeroDivisionError:
        print("Please don't enter zero.")
    except TypeError:
        print('Please input only integers and floating numbers.')
    else:
        print(f'''Result: {result}
Try Block successfully run 
     ''')
        
    finally:
        return 'Me to chalunga, kisi ka bap nai rok sakta'
    
    
divide(3,0)

Please don't enter zero.

'Me to chalunga, kisi ka bap nai rok sakta'

In [60]:
def divide(a, b):
    try:
        result = a / b
      #   return result
    except ZeroDivisionError:
        return "Please don't enter zero."
    except TypeError:
        return 'Please input only integers and floating numbers.'
    else:
        return result
        
    finally:
        print('Me to chalunga, kisi ka bap nai rok sakta')
    
    
divide(3,3)

Me to chalunga, kisi ka bap nai rok sakta

1.0

In [89]:
def divide(a, b):
    try:
        result = a / b
      #   return result
    except Exception as e:
        return e
    # except TypeError:
    #     return 'Please input only integers and floating numbers.'
    else:
        return result
        
    finally:
        print('Me to chalunga, kisi ka bap nai rok sakta')
    
    
divide(3,'3')

Me to chalunga, kisi ka bap nai rok sakta

TypeError("unsupported operand type(s) for /: 'int' and 'str'")

In [84]:
3/0

ZeroDivisionError: division by zero

In [ ]:
# try catch demo
try:
  with open('sample1.txt','r') as f:
    print(f.read())
except:
  print('sorry file not found')

sorry file not found

In [ ]:
# catching specific exception
try:
  m=5
  f = open('sample1.txt','r')
  print(f.read())
  print(m)
  print(5/2)
  L = [1,2,3]
  L[100]
except FileNotFoundError:
  print('file not found')
except NameError:
  print('variable not defined')
except ZeroDivisionError:
  print("can't divide by 0")
except Exception as e:
  print(e)

[Errno 2] No such file or directory: 'sample1.txt'

In [ ]:
# else
try:
  f = open('sample1.txt','r')
except FileNotFoundError:
  print('file nai mili')
except Exception:
  print('kuch to lafda hai')
else:
  print(f.read())

file nai mili

In [ ]:
# finally
# else
try:
  f = open('sample1.txt','r')
except FileNotFoundError:
  print('file nai mili')
except Exception:
  print('kuch to lafda hai')
else:
  print(f.read())
finally:
  print('ye to print hoga hi')

file nai mili
ye to print hoga hi

In [ ]:
# raise Exception
# In Python programming, exceptions are raised when errors occur at runtime.
# We can also manually raise exceptions using the raise keyword.

# We can optionally pass values to the exception to clarify why that exception was raised

In [ ]:
raise ZeroDivisionError('aise hi try kar raha hu')
# Java
# try -> try
# except -> catch
# raise -> throw

ZeroDivisionError: ignored

In [ ]:
class Bank:

  def __init__(self,balance):
    self.balance = balance

  def withdraw(self,amount):
    if amount < 0:
      raise Exception('amount cannot be -ve')
    if self.balance < amount:
      raise Exception('paise nai hai tere paas')
    self.balance = self.balance - amount

obj = Bank(10000)
try:
  obj.withdraw(15000)
except Exception as e:
  print(e)
else:
  print(obj.balance)

paise nai hai tere paas

In [3]:
class MyException(Exception):
  def __init__(self,message):
    print(message)

class Bank:

  def __init__(self,balance):
    self.balance = balance

  def withdraw(self,amount):
    if amount < 0:
      raise MyException('amount cannot be -ve')
    if self.balance < amount:
      raise MyException('paise nai hai tere paas')
    self.balance = self.balance - amount

obj = Bank(10000)
try:
  obj.withdraw(5000)
except MyException as e:
  pass
else:
  print(obj.balance)

Exception: amount cannot be -ve

In [ ]:


# creating custom exceptions
# exception hierarchy in python

In [ ]:
# simple example

In [ ]:
class SecurityError(Exception):

  def __init__(self,message):
    print(message)

  def logout(self):
    print('logout')

class Google:

  def __init__(self,name,email,password,device):
    self.name = name
    self.email = email
    self.password = password
    self.device = device

  def login(self,email,password,device):
    if device != self.device:
      raise SecurityError('bhai teri to lag gayi')
    if email == self.email and password == self.password:
      print('welcome')
    else:
      print('login error')



obj = Google('nitish','nitish@gmail.com','1234','android')

try:
  obj.login('nitish@gmail.com','1234','windows')
except SecurityError as e:
  e.logout()
else:
  print(obj.name)
finally:
  print('database connection closed')

bhai teri to lag gayi
logout
database connection closed