# tuple
- immutable

In [1]:
cities = ('karachi', 'quetta', 'lahore')

In [3]:
cities.count('karachi')

1

In [4]:
cities.index('karachi')

0

In [5]:
cities.index('lahore')

2

In [6]:
cities[0] = 'chakwal'

TypeError: 'tuple' object does not support item assignment

- Immutable data structure

In [7]:
cities

('karachi', 'quetta', 'lahore')

In [8]:
a = cities[0]

In [9]:
a

'karachi'

In [10]:
cities

('karachi', 'quetta', 'lahore')

# unpacking

In [11]:
a,b,c = cities

In [12]:
print(a)
print(b)
print(c)

karachi
quetta
lahore

In [13]:
cities

('karachi', 'quetta', 'lahore')

In [14]:
type(a)

str

In [15]:
a,b,c,d = cities

ValueError: not enough values to unpack (expected 4, got 3)

In [16]:
a,c  = cities

ValueError: too many values to unpack (expected 2)

In [24]:
a, *b = cities
print(cities)

('karachi', 'quetta', 'lahore')

In [27]:
a, *b, c, d = cities

print(cities)
print(a)
print(b)
print(c)
print(d)

('karachi', 'quetta', 'lahore')
karachi
[]
quetta
lahore

# Sets

- mutable

In [28]:
colors = {'blue', 'yellow', 'yellow', 'pink'}

In [43]:
colors

{'blue', 'pink', 'yellow'}

In [34]:
new_set = {}

In [44]:
sets = {2,5,4,3}

In [45]:
sets

{2, 3, 4, 5}

# Loops

In [46]:
print('ali khan')
print('ali khan')
print('ali khan')
print('ali khan')
print('ali khan')

ali khan
ali khan
ali khan
ali khan
ali khan

## for loop

In [47]:
# for varibale in iterable:
#     body

In [53]:
for i in range(10):
    print(f'{i+1}. ali khan')

1. ali khan
2. ali khan
3. ali khan
4. ali khan
5. ali khan
6. ali khan
7. ali khan
8. ali khan
9. ali khan
10. ali khan

In [58]:
# for i in range(start, end+1)
for i in range(1,11): #range(1,11) iterable
    print(i,'ali khan')

1 ali khan
2 ali khan
3 ali khan
4 ali khan
5 ali khan
6 ali khan
7 ali khan
8 ali khan
9 ali khan
10 ali khan

In [63]:
for i in range(2,11,2):
    print(i,'ali khan')

2 ali khan
4 ali khan
6 ali khan
8 ali khan
10 ali khan

In [64]:
# print only odd nos from 1 to 10

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [67]:
for i in range(1,21):
    if i % 3 == 0 and i % 2 != 0:
        print(i)

3
9
15

In [69]:
for i in range(1,21):
    if i % 3 == 0:
        if i % 2 != 0:
            print(i)

3
9
15

In [70]:
for i in range(1,21):
    if i % 3 == 0 or i % 2 != 0:
        print(i)

1
3
5
6
7
9
11
12
13
15
17
18
19

In [71]:
for i in range(1,21):
    if i % 3 == 0:
        print(i)
    
    elif i % 2 != 0:
        print(i)

1
3
5
6
7
9
11
12
13
15
17
18
19

In [75]:
countries = ('Pakistan', 'Nepal', 'USA')

## Nested loops

In [77]:
for city in cities:
    for country in countries:
        print(f'{country} : {city}')

Pakistan : karachi
Nepal : karachi
USA : karachi
Pakistan : quetta
Nepal : quetta
USA : quetta
Pakistan : lahore
Nepal : lahore
USA : lahore

In [78]:
# write a program that accepts a list of numbers and separates the even and odd no's.
# Hint: you can create two list for even and odd numbers

In [79]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even = []
odd = []

for num in numbers:
    if num % 2 ==0:
        even.append(num)
    else:
        odd.append(num)
        
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [80]:
cities_details = {
    'karachi': 'Pakistan', 
    'Chakwal': 'Pakistan',
    'Lahore': 'Pakistan',
    'Istanbul': 'Turkey', 
    'Bursa': 'Turkey', 
    'California': 'USA', 
    'Captown': 'South Africa'
}
cities_details

In [82]:
pak_cities = []
for i in cities_details:
    if cities_details.get(i) == 'Pakistan':
        pak_cities.append(i)
        
print(pak_cities)

['karachi', 'Chakwal', 'Lahore']

In [ ]:
pak_cities = []
for i in cities_details:
    if cities_details[i] == 'Pakistan':
        pak_cities.append(i)
        
print(pak_cities)

In [85]:
print(cities_details['karachi'])
print(cities_details.get('karachi'))

Pakistan
Pakistan

In [ ]:
new_dict = {
    'Pakistan': ['Chakwal', 'Lahore'], 
    'USA': ['California', 'Texax', 'Chicago']
}
new_dict

In [88]:
latest_dic = {}

for i in cities_details:
    if cities_details.get(i) == 'Pakistan':
        latest_dic.update({'Pakistan':i}) 
    elif cities_details.get(i) == 'USA':
        latest_dic.update({'USA':i})
        
print(latest_dic)

{'Pakistan': 'Lahore', 'USA': 'California'}

In [ ]:
# input
{
    'karachi': 'Pakistan', 
    'Chakwal': 'Pakistan',
    'Lahore': 'Pakistan',
    'Istanbul': 'Turkey', 
    'Bursa': 'Turkey', 
    'California': 'USA', 
    'Captown': 'South Africa'
}

# output
{
    'Pakistan': ['Chakwal', 'Lahore'], 
    'USA': ['California', 'Texax', 'Chicago']
}