# Type Casting

In [5]:
a = 10

In [6]:
type(a)

int

In [8]:
b = float(a)

In [9]:
type(b)

float

In [12]:
c = 12.2
d = int(c)

print(c, d, sep='\n')
print(type(c))
print(type(d))

12.2
12
<class 'float'>
<class 'int'>

In [17]:
print(c)

12.2

In [18]:
int(c)

12

In [19]:
int(0.9)

0

In [21]:
int(c)

12

In [32]:
bool('')

False

In [49]:
print(str(True))

True

In [42]:
var = 2

In [43]:
float(var)

2.0

In [41]:
print(var)

2

In [44]:
print(str(True),end = '')
int('4.5')

True

ValueError: invalid literal for int() with base 10: '4.5'

In [45]:
int('4')

4

In [46]:
int(123.3)

123

In [48]:
int('123')

123

In [50]:
a = 20
b = 20
c = a+b
print(c)

30

#### AAM zindagi

In [52]:
a = 10

# User Input

#### Mentos Zindagi

In [59]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

result = num1 + num2 # concatenation

print(result)

Enter first number: 12
Enter second number: 10
1210

In [63]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

result = int(num1) + int(num2) # type casting

print(result)

Enter first number: 12
Enter second number: 12
24

In [65]:
num1 = int(input('Enter first number: '))# type casting
num2 = int(input('Enter second number: '))# type casting

result = int(num1) + int(num2) 

print(result)

Enter first number: 12
Enter second number: 12
24

In [64]:
input('Enter first number: ')

Enter first number: 12

'12'

- User input always takes string output

In [68]:
first_name = input('Enter first name: ')        
last_name = input('Enter last name: ')        

full_name = first_name +' '+ last_name
print(full_name)

Enter first name: Imad
Enter last name: Wasim
Imad Wasim

In [70]:
first_name = input('Enter first name: ')        
middle_name = input('Enter middle name: ')  
last_name = input('Enter last name: ')        


full_name = first_name +' '+ middle_name + ' '+last_name
print(full_name)

Enter first name: Syed
Enter middle name: Zafar
Enter last name: Abbas
Syed Zafar Abbas

In [72]:
first_name = input('Enter first name: ')        
middle_name = input('Enter middle name: ')  
last_name = input('Enter last name: ')        


full_name = first_name + middle_name +last_name
print(f'{first_name} {middle_name}  {last_name}')

Enter first name: Ali
Enter middle name: Ali
Enter last name: Ali
Ali  Ali  Ali

In [84]:
course = input('Enter course')
batch = input('Enter Batch')

Enter coursejava
Enter Batch4

In [85]:
print(f'I am enrolled in {course} course in batch {batch}.')

I am enrolled in java course in batch 4.

In [90]:
print('I am enrolled in',course,'course in batch',batch)

I am enrolled in java course in batch 4